@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");

div.MuiToolbar-root > a {
  color: white;
  text-decoration: unset;
}
div.MuiToolbar-root > a:hover {
  border-bottom: 1px solid #a1c3ce;
  color: #6dbdd8;
}

div.MuiToolbar-root {
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #eff4f7;
}

.MuiToolbar-root {
  color: red;
}

/* #606472 */
